body {
  background-color: #ffeded;
  font-family: "Ubuntu";
}

.Text1 {
  text-align: center;
  padding: 2%;
  background-color: rgb(237, 80, 241, 0.3);
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  align-self: center;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
