#spoiler_button {
    font-size: 20px;
    font-weight: bold;
    width: 175px;
    height: 55px;
    margin: 0 10px;
    color: white;
    background: lightslategrey;
    border-radius: 5px;
    border: none;
}
  
#spoiler_button:hover {
    font-weight: bold;
    color: white;
    box-shadow: 5px 5px 5px black;
}

#spoiler_button:active {
    font-weight: bold;
    box-shadow: none;
}
  
.fadein, .fadeout {
    height: 0;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
  
    opacity: 0;  
}
  
.fadein {
    height: 100%;
    opacity: 1;
   
}