body {
    font-family: "Poppins", sans-serif;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url(/imgs/streaming2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 20vh;
}

/*navbar*/

nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}

.logo {
    width: 40px;
    padding-top: 5px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 30px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
    text-align: center;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 50%;
}

.text1 {
    text-align: center;
    margin: 2%;
    margin-right: 30%;
    margin-left: 30%;
    padding: 0.5%;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
    text-align: center;
    position: relative;
}

.mainGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto 10%;
    column-gap: 2%;
    height: 50%;
}

.gameBox {
    display: grid;
    grid-template-columns: 1fr;
    border: solid 5px #fff;
    box-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.gameBox::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.gameBox::-webkit-scrollbar-track {
    background: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

/* Handle */
.gameBox::-webkit-scrollbar-thumb {
    background: #ccc;
}

/* Handle on hover */
.gameBox::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.infoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    margin: 0px 5% 0px 10%;
}

.gameBox h3 {
    text-align: center;
}

.gameBox img {
    display: block;
    margin: 0 auto;
    height: 20vh;
    width: 10vw;
}

.dbd {
    height: 75vh;
}

.valorant {
    height: 75vh;
}

.stardew {
    height: 75vh;
}


/*quote styling*/
/* Slideshow container */
.commentContainer {
    position: relative;
    color: #fff;
    font-size: 19px;
    height: min-content;
  }
  
  .commentContainer a {
    color: inherit;
  }
  
  .commentContainer a:hover {
    color: rgb(231, 175, 208);
    text-shadow: 1px 1px 10px rgb(134, 110, 124), 1px 1px 10px rgb(134, 110, 124);
  }
  
  .commentContainer a::after {
    color: #fff;
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
  }
  
  /* Slides */
  .commentSlide {
    display: none;
    padding: 80px;
    text-align: center;
    height: 10vh;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {
    font-style: italic;
  }
  
  /* Add a blue color to the author */
  .author {
    color: #4e4e4e;
  }
  

/*val star styling */
.valComRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.valComRating > input {
    display: none;
}

.valComRating > label {
    position: relative;
    width: 1.1em;
    font-size: 2vw;
    color: #ffd700;
    cursor: pointer;
}

.valComRating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.valComRating > label:hover:before,
.valComRating > label:hover ~ label:before {
    opacity: 1 !important;
}

.valComRating > input:checked ~ label:before {
    opacity: 1;
}

.valComRating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.valCharDesRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.valCharDesRating > input {
    display: none;
}

.valCharDesRating > label {
    position: relative;
    width: 1.1em;
    font-size: 2vw;
    color: #ffd700;
    cursor: pointer;
}

.valCharDesRating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.valCharDesRating > label:hover:before,
.valCharDesRating > label:hover ~ label:before {
    opacity: 1 !important;
}

.valCharDesRating > input:checked ~ label:before {
    opacity: 1;
}

.valCharDesRating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.valPlayRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.valPlayRating > input {
    display: none;
}

.valPlayRating > label {
    position: relative;
    width: 1.1em;
    font-size: 2vw;
    color: #ffd700;
    cursor: pointer;
}

.valPlayRating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.valPlayRating > label:hover:before,
.valPlayRating > label:hover ~ label:before {
    opacity: 1 !important;
}

.valPlayRating > input:checked ~ label:before {
    opacity: 1;
}

.valPlayRating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.valRepRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.valRepRating > input {
    display: none;
}

.valRepRating > label {
    position: relative;
    width: 1.1em;
    font-size: 2vw;
    color: #ffd700;
    cursor: pointer;
}

.valRepRating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.valRepRating > label:hover:before,
.valRepRating > label:hover ~ label:before {
    opacity: 1 !important;
}

.valRepRating > input:checked ~ label:before {
    opacity: 1;
}

.valRepRating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.valOverRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.valOverRating > input {
    display: none;
}

.valOverRating > label {
    position: relative;
    width: 1.1em;
    font-size: 2vw;
    color: #ffd700;
    cursor: pointer;
}

.valOverRating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.valOverRating > label:hover:before,
.valOverRating > label:hover ~ label:before {
    opacity: 1 !important;
}

.valOverRating > input:checked ~ label:before {
    opacity: 1;
}

.valOverRating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.dbdComRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.dbdComRating > input {
    display: none;
}

.dbdComRating > label {
    position: relative;
    width: 1.1em;
    font-size: 2vw;
    color: #ffd700;
    cursor: pointer;
}

.dbdComRating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.dbdComRating > label:hover:before,
.dbdComRating > label:hover ~ label:before {
    opacity: 1 !important;
}

.dbdComRating > input:checked ~ label:before {
    opacity: 1;
}

.dbdComRating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.dbdCharDesRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.dbdCharDesRating > input {
    display: none;
}

.dbdCharDesRating > label {
    position: relative;
    width: 1.1em;
    font-size: 2vw;
    color: #ffd700;
    cursor: pointer;
}

.dbdCharDesRating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.dbdCharDesRating > label:hover:before,
.dbdCharDesRating > label:hover ~ label:before {
    opacity: 1 !important;
}

.dbdCharDesRating > input:checked ~ label:before {
    opacity: 1;
}

.dbdCharDesRating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.dbdPlayRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.dbdPlayRating > input {
    display: none;
}

.dbdPlayRating > label {
    position: relative;
    width: 1.1em;
    font-size: 2vw;
    color: #ffd700;
    cursor: pointer;
}

.dbdPlayRating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.dbdPlayRating > label:hover:before,
.dbdPlayRating > label:hover ~ label:before {
    opacity: 1 !important;
}

.dbdPlayRating > input:checked ~ label:before {
    opacity: 1;
}

.dbdPlayRating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.dbdRepRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.dbdRepRating > input {
    display: none;
}

.dbdRepRating > label {
    position: relative;
    width: 1.1em;
    font-size: 2vw;
    color: #ffd700;
    cursor: pointer;
}

.dbdRepRating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.dbdRepRating > label:hover:before,
.dbdRepRating > label:hover ~ label:before {
    opacity: 1 !important;
}

.dbdRepRating > input:checked ~ label:before {
    opacity: 1;
}

.dbdRepRating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.dbdOverRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.dbdOverRating > input {
    display: none;
}

.dbdOverRating > label {
    position: relative;
    width: 1.1em;
    font-size: 2vw;
    color: #ffd700;
    cursor: pointer;
}

.dbdOverRating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.dbdOverRating > label:hover:before,
.dbdOverRating > label:hover ~ label:before {
    opacity: 1 !important;
}

.dbdOverRating > input:checked ~ label:before {
    opacity: 1;
}

.dbdOverRating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.starComRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.starComRating > input {
    display: none;
}

.starComRating > label {
    position: relative;
    width: 1.1em;
    font-size: 2vw;
    color: #ffd700;
    cursor: pointer;
}

.starComRating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.starComRating > label:hover:before,
.starComRating > label:hover ~ label:before {
    opacity: 1 !important;
}

.starComRating > input:checked ~ label:before {
    opacity: 1;
}

.starComRating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.starCharDesRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.starCharDesRating > input {
    display: none;
}

.starCharDesRating > label {
    position: relative;
    width: 1.1em;
    font-size: 2vw;
    color: #ffd700;
    cursor: pointer;
}

.starCharDesRating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.starCharDesRating > label:hover:before,
.starCharDesRating > label:hover ~ label:before {
    opacity: 1 !important;
}

.starCharDesRating > input:checked ~ label:before {
    opacity: 1;
}

.starCharDesRating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.starPlayRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.starPlayRating > input {
    display: none;
}

.starPlayRating > label {
    position: relative;
    width: 1.1em;
    font-size: 2vw;
    color: #ffd700;
    cursor: pointer;
}

.starPlayRating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.starPlayRating > label:hover:before,
.starPlayRating > label:hover ~ label:before {
    opacity: 1 !important;
}

.starPlayRating > input:checked ~ label:before {
    opacity: 1;
}

.starPlayRating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.starRepRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.starRepRating > input {
    display: none;
}

.starRepRating > label {
    position: relative;
    width: 1.1em;
    font-size: 2vw;
    color: #ffd700;
    cursor: pointer;
}

.starRepRating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.starRepRating > label:hover:before,
.starRepRating > label:hover ~ label:before {
    opacity: 1 !important;
}

.starRepRating > input:checked ~ label:before {
    opacity: 1;
}

.starRepRating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.starOverRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.starOverRating > input {
    display: none;
}

.starOverRating > label {
    position: relative;
    width: 1.1em;
    font-size: 2vw;
    color: #ffd700;
    cursor: pointer;
}

.starOverRating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.starOverRating > label:hover:before,
.starOverRating > label:hover ~ label:before {
    opacity: 1 !important;
}

.starOverRating > input:checked ~ label:before {
    opacity: 1;
}

.starOverRating:hover > input:checked ~ label:before {
    opacity: 0.4;
}
