body {
  background-color: #ffeded;
  font-family: "Ubuntu";
  color: #4e4e4e;
}

.Text1 {
  text-align: center;
  padding: 2%;
}

#instapost ul li {
  float: left;
  margin-right: 1%;
  list-style-type: none;
}
