body {
  background-color: #ffeded;
  font-family: "Ubuntu";
  color: #4e4e4e;
}

/*nav bar*/
.navBar {
  width: 96%;
  padding: 1% 2% 2% 2%;
  background-image: linear-gradient(to right, black, #f194c8);
  height: 2px;
  display: block;
  position: relative;
  top: 0;
  transform: scale();
}

.navItem {
  padding-right: 6%;
  display: inline-block;
  transform: scale();
  font-family: "Ubuntu";
  color: white;
  font-size: 130%;
}

.navItem:link {
  text-decoration: none;
}

.navItem:hover {
  color: #f194c8;
}

.searchBar {
  width: fit-content;
  display: inline-block;
  transform: scale() !important;
  font-family: "Ubuntu";
  font-size: 20%;
}

.searchBar input {
  font-family: "Ubuntu";
  border-radius: 20px;
  border: 1px solid black;
  height: 30px;
  padding-left: 20px;
}

.searchBar button {
  font-family: "Ubuntu";
  border-radius: 20px;
  border: 1px solid black;
}

.logo {
  width: 3%;
  display: inline-block;
  position: relative;
  top: -500%;
  vertical-align: top;
  padding-right: 2%;
}

/*section 1*/

.Text1 {
  text-align: center;
  padding: 2%;
}

#instapost ul li {
  float: left;
  margin-right: 1%;
  list-style-type: none;
}

/*footer css*/

.social_footer {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  height: 100px;
  padding: 20px;
  clear: both;
}

.social_footer a {
  margin: 5px;
  text-decoration: none !important;
}

.social-icon {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
