body {
  background-color: #ffeded;
  font-family: "Ubuntu";
  color: #4e4e4e;
}

.Text1 {
  text-align: center;
  padding: 2%;
}

#instapost ul li {
  float: left;
  margin-right: 1%;
  list-style-type: none;
}

/*footer css*/

.social_footer {
  display: flex;
  justify-content: center;
  background-color: #ffeded;
  height: 100px;
  padding: 20px;

}

.social_footer a {
  margin: 5px;
  text-decoration: none!important;
}

.social-icon {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}