body {
  background-color: #ffeded;
  font-family: "Ubuntu";
}
/*nav bar*/
.navBar {
  width: 96%;
  padding: 1% 2% 2% 2%;
  background-image: linear-gradient(to right, black, #f194c8);
  height: 2px;
  display: block;
  position: relative;
  top: 0;
  transform: scale();
}

.navItem {
  padding-right: 6%;
  display: inline-block;
  transform: scale();
  font-family: "Ubuntu";
  color: white;
  font-size: 130%;
}

.navItem:link {
  text-decoration: none;
}

.navItem:hover {
  color: #f194c8;
}

.searchBar {
  width: fit-content;
  display: inline-block;
  transform: scale() !important;
  font-family: "Ubuntu";
  font-size: 20%;
}

.searchBar input {
  font-family: "Ubuntu";
  border-radius: 20px;
  border: 1px solid black;
  height: 30px;
  padding-left: 20px;
}

.searchBar button {
  font-family: "Ubuntu";
  border-radius: 20px;
  border: 1px solid black;
}

.logo {
  width: 3%;
  display: inline-block;
  position: relative;
  top: -500%;
  vertical-align: top;
  padding-right: 2%;
}

/*section 1*/

#BG1 {
  width: 60%;
  height: auto;
  margin-left: 20%;
  margin-right: 50%;
}

.containerp {
  position: relative;
  padding-right: 60%;
  padding: 2%;
  width: fit-content;
  color: #4e4e4e;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: aqua;
  margin-bottom: 2%;
}

.container {
  color: #4e4e4e;
  font-size: 15px;
  border-style: solid;
  border-width: 2px;
  background-color: rgb(224, 49, 224);
  clear: both;
}
.text {
  text-align: center;
}

/* section 2 */
#info1 {
  display: inline-block;
  clear: both;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: aquamarine;
  margin-left: 2%;
  margin-right: 2%;
}

.statsimg {
  width: 30%;
  height: auto;
  float: left;
  padding: 2%;
}

.addtext {
  padding: 2%;
}

#info2 {
  display: inline-block;
  clear: both;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: rgb(136, 245, 132);
  margin: 2%;
}

.indimg {
  width: 30%;
  height: auto;
  float: right;
  padding: 2%;
}

#info3 {
  display: inline-block;
  clear: both;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: rgb(236, 217, 45);
  margin-left: 2%;
  margin-right: 2%;
}

.difimg {
  width: 30%;
  height: auto;
  float: left;
  padding: 2%;
}

/* section 3 */

#sub {
  color: #4e4e4e;
  font-size: 15px;
  background-color: rgb(224, 49, 224);
  clear: both;
}

form {
  float: left;
  margin: 2%;
  clear: both;
}
