body {
  background-color: #ffeded;
  font-family: "Ubuntu";
}

html {
  scroll-behavior: smooth;
}

/*nav bar*/
.navBar {
  width: 96%;
  padding: 1% 2% 2% 2%;
  background-image: linear-gradient(to right, black, #f194c8);
  height: 2px;
  display: block;
  position: relative;
  top: 0;
  transform: scale();
}

.navItem {
  padding-right: 6%;
  display: inline-block;
  transform: scale();
  font-family: "Ubuntu";
  color: white;
  font-size: 130%;
}

.navItem:link {
  text-decoration: none;
}

.navItem:hover {
  color: #f194c8;
}

.searchBar {
  width: fit-content;
  display: inline-block;
  transform: scale() !important;
  font-family: "Ubuntu";
  font-size: 20%;
}

.searchBar input {
  font-family: "Ubuntu";
  border-radius: 20px;
  border: 1px solid black;
  height: 30px;
  padding-left: 20px;
}

.searchBar button {
  font-family: "Ubuntu";
  border-radius: 20px;
  border: 1px solid black;
}

.logo {
  width: 3%;
  display: inline-block;
  position: relative;
  top: -500%;
  vertical-align: top;
  padding-right: 2%;
}
/*header*/

/*section 1*/
.containerp {
  background-image: url(/WGWebsite/globalImgs/main.jpg);
  background-size: cover;
  position: relative;
  padding: 400px;
  width: fit-content;
  color: white;
  background-color: aqua;
  margin-bottom: 2%;
}

.text {
  text-align: center;
}

/* section 2 */
#info1 {
  display: inline-block;
  clear: both;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: aquamarine;
  margin-left: 2%;
  margin-right: 2%;
  padding: 2%;
}

#stats {
  float: left;
  margin-bottom: 2%;
  margin-top: 0.5%;
  margin-left: 2%;
  margin-right: 2%;
}

.statsimg {
  width: 30%;
  height: auto;
  float: left;
  padding: 2%;
}

.addtext {
  padding: 2%;
}

#info2 {
  display: inline-block;
  clear: both;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: rgb(136, 245, 132);
  margin: 2%;
}

.indimg {
  width: 30%;
  height: auto;
  float: right;
  padding: 2%;
}

#info3 {
  display: inline-block;
  clear: both;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: rgb(236, 217, 45);
  margin-left: 2%;
  margin-right: 2%;
}

.difimg {
  width: 30%;
  height: auto;
  float: left;
  padding: 2%;
}

/* section 3 */

#sub {
  color: #4e4e4e;
  font-size: 15px;
  clear: both;
}

.container {
  color: #4e4e4e;
  font-size: 15px;
  clear: both;
}

form {
  float: left;
  margin: 2%;
  clear: both;
}

/*spoiler button 1*/

#spoiler_button {
  font-size: 20px;
  font-weight: bold;
  width: 175px;
  height: 55px;
  margin: 0 10px;
  color: white;
  background: lightslategrey;
  border-radius: 5px;
  border: none;
}

#spoiler_button:hover {
  font-weight: bold;
  color: white;
  box-shadow: 5px 5px 5px black;
}

#spoiler_button:active {
  font-weight: bold;
  box-shadow: none;
}

.fadein,
.fadeout {
  height: 0;
  display: none;
  opacity: 0;
}

.fadein {
  height: 100%;
  display: block;
  opacity: 1;
}

#spoiler_button2 {
  font-size: 20px;
  font-weight: bold;
  width: 175px;
  height: 55px;
  margin: 0 10px;
  color: white;
  background: lightslategrey;
  border-radius: 5px;
  border: none;
}

/*spoiler button 2*/

#spoiler_button2:hover {
  font-weight: bold;
  color: white;
  box-shadow: 5px 5px 5px black;
}

#spoiler_button2:active {
  font-weight: bold;
  box-shadow: none;
}

.fadein2,
.fadeout2 {
  height: 0;
  display: none;
  opacity: 0;
}

.fadein2 {
  height: 100%;
  display: block;
  opacity: 1;
}

/*footer css*/

.social_footer {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  height: 100px;
  padding: 20px;
  clear: both;
}

.social_footer a {
  margin: 5px;
  text-decoration: none !important;
}

.social-icon {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/*spoiler button 1*/

#spoiler_button {
  font-size: 20px;
  font-weight: bold;
  width: 175px;
  height: 55px;
  margin: 0 10px;
  color: white;
  background: lightslategrey;
  border-radius: 5px;
  border: none;
}

#spoiler_button:hover {
  font-weight: bold;
  color: white;
  box-shadow: 5px 5px 5px black;
}

#spoiler_button:active {
  font-weight: bold;
  box-shadow: none;
}

.fadein,
.fadeout {
  height: 0;
  display: none;
  opacity: 0;
}

.fadein {
  height: 100%;
  display: block;
  opacity: 1;
}

/*spoiler button 2*/

#spoiler_button2 {
  font-size: 20px;
  font-weight: bold;
  width: 175px;
  height: 55px;
  margin: 0 10px;
  color: white;
  background: lightslategrey;
  border-radius: 5px;
  border: none;
}

#spoiler_button2:hover {
  font-weight: bold;
  color: white;
  box-shadow: 5px 5px 5px black;
}

#spoiler_button2:active {
  font-weight: bold;
  box-shadow: none;
}

.fadein2,
.fadeout2 {
  height: 0;
  display: none;
  opacity: 0;
}

.fadein2 {
  height: 100%;
  display: block;
  opacity: 1;
}

/*footer css*/

.social_footer {
  display: flex;
  justify-content: center;
  background-color: #ffeded;
  height: 100px;
  padding: 20px;
}

.social_footer a {
  margin: 5px;
  text-decoration: none !important;
}

.social-icon {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
